@model StudentCertification_Entities.StudentEducationalInfo

    <div class="panel panel-body">
        <div class="col-md-3">
            @{Html.RenderPartial("NavigationPartialView");}
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
        <script src="~/Scripts/StudentEducationValidation.js" type="text/javascript"></script>
        <div class="col-md-9">
            @using (Html.BeginForm("QualificationInfo", "Qualification", FormMethod.Post, new { @id = "" }))
            {
                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.secondarySchoolName, "10th School Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.secondarySchoolName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.secondarySchoolName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.seniorSecondarySchoolName, "12th School Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.seniorSecondarySchoolName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.seniorSecondarySchoolName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.collegeName, "College Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.collegeName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.collegeName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.collegePercentage, "Percentage in College", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.collegePercentage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.collegePercentage, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Check" class="btn btn-default" id="Formsubmit" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>